/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

body {
  background-image: url("./interstellar1.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.container{
  height: 450px;
}

.scoreboard{
  font-family: arial;
  font-size: 20px;
  color: white;
}

svg.board {
  margin-top: -10%;
}
